*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(20, 20, 20);
}
header{
    padding: 40px 0;
}
.header {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
main{
    max-width: 1300px;
    margin: auto;
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
}
ul{
    display: flex;
    list-style: none;
}
li {
    margin-left: 40px;
    margin-top: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    line-height: 30px;
    font-style: normal;
    font-size: 18px;
}
a{
    color: white;
    text-decoration: none;
}
.group{
    width: 800px;
    height: 600px;
    text-align: center;
    margin-bottom: 40px;
}
h1{
    color: aliceblue;
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    line-height: 10px;
    font-style: normal;
    font-size: 80px;
}
p{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    line-height: 40px;
    font-style: normal;
    font-size: 30px;
}
footer{
    background: black;
    padding: 69px 438px 15.05px;
}
.footer{
    max-width: 564px;
    margin: auto;
    text-align: center;
}
.given_name{
    width: 100%;
    background: rgba(255, 255, 255, 0.18);
    padding: 18px 31px;
    border: none;
    color: #FFF;
    font-family: Vollkorn;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
}
.email{
    width: 100%;
    background: rgba(255, 255, 255, 0.20);
    padding: 18px 31px;
    border: none;
    color: #FFF;
    font-family: Vollkorn;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
}
.budget{
    width: 100%;
    background: rgba(255, 255, 255, 0.18);
    padding: 18px 31px;
    border: none;
    color: #FFF;
    font-family: Vollkorn;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
}
#describe{
    width: 100%;
    background: rgba(255, 255, 255, 0.20);
    padding: 18px 31px 88px;
    border: none;
    color: #FFF;
    font-family: Vollkorn;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    resize: none;
}
button{
    margin: 20px 177px 77px;
    background: black;
    border: solid 2px #7ec4bd;
    width: 100%;
    color: #8bcac3;
    text-align: center;
    font-family: Vollkorn;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    max-width: 210px;
}