*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(20, 20, 20);
}
header{
    padding: 40px 0;
}
.header {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
img {
    width: 100px;
    height: 100px;
}
.navigation{
    display: flex;
    list-style: none;
}
li {
    margin-left: 40px;
    margin-top: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    font-size: 18px;
}
a{
    color: white;
    text-decoration: none;}
ul{
    list-style: none;
}
h2{
    text-align: center;
    color: aliceblue;
    margin-bottom: 90px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    line-height: 40px;
    font-style: normal;
    font-size: 25px;

}